





/* global styling */
:root {
    --tan: #ebe9dd;
    --deep-olive: #51441b;
    --button-green: #706134;
    --button-green-50: #70613480;
    --header-font: 'nove', sans-serif;
    --header-font-size: 100px;
    --body-font: 'Instrument Serif', serif;
    --body-font-size: 20px;
    font-family: var(--body-font);
}
html{
    background-color: var(--tan);
}

body::-webkit-scrollbar {
    display: none;
  }

.home-return {
    background-color: var(--tan);
    width: 50px;
    height: 50px;
    border: solid var(--button-green-50) 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

h2{
    font-size: 1.5rem;
}

.home-return:hover {
    text-decoration: none;
    box-shadow: 1px 1px 10px 1px #ebe9dd;
}

.page-title>h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    margin: 0;
}

.page-title>p {
   
    text-align: start;
}

.instruct {
    margin: 0;
    opacity: 0.5;
}

/* Homepage styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--deep-olive);
}

body#home {
    background-image: url(imgs/tanbg.png);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navbar {
    border: solid var(--deep-olive) 1px;
    width: 100vw;
    height: 50px;
    top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--deep-olive);
}

a, p, span {
    font-family: var(--body-font);
    text-align: left;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#home-content {
    position: absolute;
    top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* large */
@media screen and (orientation:landscape){
   .page-title>p {
    font-size: 1rem;
   }
#home-content>img {
    max-width: 1094px;

}
#about-content{
    width: 70%;
padding: 30px;
}
#about-right > h1{
    font-size: 5rem;
    margin:40px ;
}

#about-right > p{
    font-size: 1.2rem;
    max-width: 450px;
    margin: 0px 40px 40px 40px;
    height: fit-content;
}

#about-left >img{
    margin: 30px;
    max-height: 400px;

}

#postContainer {
    width: 90vw;
    padding: 10px;
    gap: 10px;
}

.postUpload {
  
    padding: 20px;
}

.postComment {
    width: 200px;

    font-family: var(--body-font);
    font-size: var(--body-font-size);
}
/* events */
body#events {
    background-image: url(imgs/tanbg.png);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#events-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#events-section {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-block: 20px;
}

#events-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#pt-top{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#ep-title{
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    margin: 0px;
}

.events-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 720px;
    height: 75vh;
    margin-top: 20px;
    gap: 10px;
    overflow-y: auto;
    border-left: 1px solid #51441bf9;
}


.event {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    height: 190px;
    background-color: var(--tan);
    border-radius: 10px;
}

.event-img {
    width: 205px;
    height: 175px;
    background-color: var(--button-green-50);
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
    margin-right: 20px;
}

.event-img >img{
    width: 205px;
    height: 175px;
    border-radius: 10px;
}

.event-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    width: 420px;
    height: 175px;
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
    padding: 5px;
}

.event-title {
    width: 420px;
    height: 60px;
    border-bottom: solid;
    font-size: var(--body-font-size);
    
}

.event-blurb {
    display: flex;
    align-items: flex-end;
    width: 420px;
    height: 105px;

}

.event-blurb>p {
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

/* suggestion blurb */
#sug-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 180px;
    background-color: var(--tan);
    border: 2px solid var(--deep-olive);
    color: var(--deep-olive);
}

#suggestText>p {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 0;

}


}
/* medium */
@media screen and (min-width:768px) and (max-width: 992px){

    
    .page-title>p {
    font-size: 1.8rem;
   }
    #home-content>img {
    max-width: 800px;
}
#about-right > h1{
    font-size: 4rem;
    margin:20px ;
}

#about-right > p{
    font-size: 1rem;
    max-width: 450px;
    margin: 0px 20px 0px 20px;
    height: fit-content;
}

#about-left >img{
    margin: 40px;
    max-height: 300px;

}


#postContainer {
    width: 90vw;
    padding: 10px;
    gap: 10px;
  }

  .postUpload {
    padding: 20px;
  }

  .postComment {
   width: 85vw;

    font-family: var(--body-font);
    font-size: var(--body-font-size);
  }

  .postUpload > img {
    max-width: 500px;
    height: auto;
  }

 body#events {
    background-image: url(imgs/tanbg.png);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#events-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#events-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-block: 20px;
}

#events-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#pt-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pt-bottom{

   position: absolute;
   
 

}


#ep-title{
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    margin: 0px;
}

.events-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: center;
    width: 100%;
    height: 75vh;
    margin-top: 20px;
    gap: 10px;
    overflow-y: auto;
    border-left: 1px solid #51441bf9;
}
.events-right::-webkit-scrollbar {
    display: none;
  }
  .events-right:hover{
    cursor: all-scroll;
  }

.event {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    height: 190px;
    background-color: var(--tan);
    border-radius: 10px;
}

.event-img {
    width: 205px;
    height: 175px;
    background-color: var(--button-green-50);
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
}

.event-img >img{
    width: 205px;
    height: 175px;
    border-radius: 10px;
}

.event-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    width: 420px;
    height: 175px;
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
    padding: 5px;
}

.event-title {
    width: 420px;
    height: 60px;
    border-bottom: solid;
    font-size: var(--body-font-size);
    
}

.event-blurb {
    display: flex;
    align-items: flex-end;
    width: 420px;
    height: 105px;

}

.event-blurb>p {
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

/* suggestion blurb */
#sug-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px;
    height: 170px;
    margin-left: 20px;
    
   
}

#suggestText>p {
    text-align: left;
    padding-left: 30px;
    margin-bottom: 0;

}

}

/* small */
@media screen and (min-width: 576px) and (max-width:786px){

   #home-content>img{
    max-width: 500px;
   }
   #about-content{
    width: 90%;
padding: 10px;
}
   #about-right > h1{
    font-size: 3rem;
    margin:20px ;
}

#about-right > p{
    font-size: 1rem;
    max-width: 450px;
    margin: 0px 20px 0px 20px;
    height: fit-content;
}

#about-left >img{
    margin: 10px;
    max-height: 300px;

}

p.instruct{
    font-size: 2rem;
}
 body#events {
    background-image: url(imgs/tanbg.png);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

#events-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#events-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-block: 20px;
}

#events-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#pt-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pt-bottom{

   position: absolute;
   
 

}


#ep-title{
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    margin: 0px;
}

.events-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    width: 100vw;
    height: auto;
    margin-top: 20px;
    gap: 10px;
    overflow-y: auto;
    border-left: 1px solid #51441bf9;
}
.events-right::-webkit-scrollbar {
    display: none;
  }
  .events-right:hover{
    cursor: all-scroll;
  }

.event {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 650px;
    height: 190px;
    background-color: var(--tan);
    border-radius: 10px;
}

.event-img {
    width: 205px;
    height: 175px;
    background-color: var(--button-green-50);
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
}

.event-img >img{
    width: 205px;
    height: 175px;
    border-radius: 10px;
}

.event-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    width: 420px;
    height: 175px;
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
    padding: 5px;
  
}

h2.event-title {
    width: 10px;
    height: auto ;
    font-size: 1rem;
    border-bottom: solid;
    font-size: var(--body-font-size);
    
}

.event-blurb {
    display: flex;
    align-items: flex-end;
    width: 420px;
    height: 105px;

}

.event-blurb>p {
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

/* suggestion blurb */
#sug-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 0px;
    height: 0px;
   
    
   
}

#suggestText>p {
    text-align: left;
    color: transparent;
    margin-bottom: 0;

}
    
}
/* tiniest */
@media screen and (orientation: portrait) and (max-width: 576px ){

    #home-content>img{
        max-width: 300px;
    }
     #about-content{
    width: 90%;
padding: 10px;
}
   #about-right > h1{
    font-size: 3rem;
    margin:20px ;
}

#about-right > p{
    font-size: 1rem;
    max-width: 450px;
    margin: 0px 20px 200px 20px;
    height: fit-content;
}

#about-left >img{
    margin: 10px;
    max-height: 190px;

}
p.instruct{
    font-size: 2rem;
}
 body#events {
    background-image: url(imgs/tanbg.png);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

}

#events-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#events-section {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-block: 20px;
}

#events-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

#pt-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pt-bottom{

   position: absolute;
   
 

}


#ep-title{
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    margin: 0px;
}

.events-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction:column;
    width: 100%;
    height: auto;
    margin-top: 30px;
    gap: 20px;
    overflow-y: auto;
    border-left: 1px solid #51441bf9;
}
.events-right::-webkit-scrollbar {
    display: none;
  }
  .events-right:hover{
    cursor: all-scroll;
  }

.event {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: var(--tan);
    border-radius: 10px;
  
}

.event-img {
    width: 25%;
    height: auto;
    background-color: var(--button-green-50);
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
}

.event-img >img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.event-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    width: 60%;
    height:auto;
    border: 2px solid var(--deep-olive);
    border-radius: 10px;
    padding-left: 20px;
}

.event-title {
    width: 300px;
    height: 50px;
  margin-bottom: 20px;
    border-bottom: solid;
    font-size: var(--body-font-size);
    
}

.event-blurb {
    display: flex;
    align-items: flex-end;
    width: 300px;
    height: 105px;

}

.event-blurb>p {
    text-align: left;
    font-size: 16px;
    padding: 5px;
}

/* suggestion blurb */
#sug-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 0px;
    height: 0px;
   
    
   
}

#suggestText>p {
    text-align: left;
    color: transparent;
    margin-bottom: 0;
    

}
}

button {
    height: 40px;
    width: 100px;
    background-color: #ebe9dd00;
    border: none;
    border-radius: 10px;
   
    font-family: var(--body-font);
    font-size: 16px;
    margin: 30px;
    color: transparent;
}

button:hover {
    background-color: var(--button-green-50);
    cursor: pointer;
}



/* Events Page styling */


/* posts page styling */
body#posts {
    background-image: url(imgs/tanbg.png);
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 8px;

}

.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#posts-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--deep-olive);
    margin-top: 30px;
}

#post-home:hover {
    box-shadow: 1px 1px 10px 1px var(--button-green)
}

#posts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: fit content;
    gap: 5px;
}

#postBtn {
    align-self: flex-end;
    margin: 0;
}

#postBtn:hover {
    text-decoration: underline;
}

#postContainer {
    border: solid var(--deep-olive) 1px;
    height: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.postUpload {
    border: solid;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}
.postName{
    text-align: left;
    margin:0;
}


.postUpload > img{
    height: auto;
    background-size: cover;
}

.likeBtn:hover {
    cursor: pointer;
}
#image{
    display: none;
}
.modal-spacing >h1{
    margin-bottom: 0;
}


/* modal: this modal code was taken from w3schools */
.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.55);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 35%;
    height: 60%;
}

.modal-spacing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

textarea{
    height: 100px;
}


/* alert modal */
#alert-modal{
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    position: fixed;
    z-index: 2;
    padding: 10px;
    border: 1px solid #888;
    width: 30%;
    height: fit-content;
}

#alert-close{
    float: right;
}
#alert-close:hover{
    cursor: pointer;
}
.hidden {
    display: none;
  }
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* modal form styling */
.form-suggestion {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.form-suggestion>input {
    width: 450px;
    height: 230px;
}

.formBtn {
    display: flex;
    justify-content: center;
}

.file-upload {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.file-upload>label {
    border: solid var(--button-green);
    width: fit-content;
    padding: 50px
}

.file-upload>label:hover {
    cursor: pointer;
}

#theimage {
    display: none;
}

.post-comment {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 5px;
}


/* about page styling */
body#about-page{
    background-image: url(imgs/tanbg.png);
    /* margin: 8px 0 0 0; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

#about-nav{
    border: solid var(--deep-olive) 1px;
    width: 100vw;
    height: 50px;
    top: 50px;
    
}
#about-nav > a{
    color: var(--deep-olive);
}
#about-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* height: 80vh; */

    background-color: var(--deep-olive);
    border-radius: 5px;
    
}
#about-left{
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-left >img{
    width: auto;
    border: 10px solid var(--tan);
}

#about-right{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-self: center;
    color: var(--tan);
    min-width: 50%;

    height: fit-content;
}



#aboutpgBtn{
    height: 35px;
    width: 100px;
    background-color: #ebe9dd00;
    border: dashed var(--button-green) 1px;
    border-radius: 10px;
    color: var(--button-green);
    font-family: var(--body-font);
    font-size: 16px;
    margin: 30px;
    text-align: center;
    
}
#aboutpgBtn{
    padding-top: 10px;
    padding-bottom: 0px;
    
    cursor: pointer;
    text-decoration: none;
}

#aboutpgBtn:hover{
    background-color: var(--button-green-50);
}

#subBtn{
    height: 40px;
    width: 100px;
    background-color: #ebe9dd00;
    border: dashed var(--button-green) 1px;
    border-radius: 10px;
    color: var(--button-green);
    font-family: var(--body-font);
    font-size: 16px;
    margin: 30px
}
#subBtn:hover{
    cursor: pointer;
}